/03. Rysowanie/nbproject/private/
/03. Rysowanie/build/
/04. Obrazki/nbproject/private/
/04. Obrazki/build/
/05. Przyciski/nbproject/private/
/05. Przyciski/build/
/06. Przyciski cwiczenie/nbproject/private/
/06. Przyciski cwiczenie/build/
/07. Klawiatura/nbproject/private/
/07. Klawiatura/build/
/08. Zdarzenia myszy/nbproject/private/
/08. Zdarzenia myszy/build/
/09. Rysowanie mysza/nbproject/private/
/09. Rysowanie mysza/build/
/10. Pola tekstowe/nbproject/private/
/10. Pola tekstowe/build/